<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand page-scroll" href="/">Get OUT!</a>
		</div>
		<div class="navbar-collapse collapse right" id="bs-navbar">
			<ul class="nav navbar-nav">
				<li>
					<a class="page-scroll active" href="#features">Features</a>
				</li>
				<li>
					<a class="page-scroll" href="#categorie">catégorie</a>
				</li>
				<li>
					<a class="page-scroll" href="#testimonials">Testimonial</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<button href="#" class="ConBut btn btn-primary btn-md " role="button" data-toggle="modal" data-target="#login-modal">Connexion</button>
				</li>
			</ul>
		</div>
	</div>
</nav>